 <div class="form-group">
    <label for="articlesId">Article</label>
    <div class="col-sm-10">
      <select [(ngModel)]="selectArticle" class="form-control" id="articlesId" name="selectArticle">
        <option [ngValue]="{}">Selectionnez un article</option>
        <option *ngFor="let article of articles" [ngValue]="article" >{{article.label}}</option>
      </select>
    </div>

  </div>
  <div class="form-group">
    <label for="staticPrice">Montant</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticPrice" value="{{selectArticle.price}}" name="selectArticledPrice">
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!(selectArticle?.id)" (click)="acheteArticle()">Achetez</button>
