<h1> Mes paiements </h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th scope="col">Id</th>
    <th scope="col">Montant</th>
    <th scope="col">Article</th>
    <th scope="col">Etat</th>
    <th scope="col">Action</th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let paiement of paiementsearch" scope="row">
  <td>{{paiement.dateAchat | date:'dd/MM/yyyy' }}</td>
  <td>{{paiement.article_id}}</td>
  <td>{{paiement.montant | currency:'EUR'}}</td>
  <td>{{paiement.libelle}}</td>
  <td>{{paiement.etat | etat}}</td>
  <td><button *ngIf="paiement.etat === 'paid'" type="button" class="btn btn-sm btn-light" (click)="paiement.etat = 'Annulé'">Annuler ? </button></td>
  </tr>
  </tbody>

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
</table>
